FIREBASE_API_KEY=AIzaSyBihFNrFDNGKcLZ2h01wTWnGAsfVOvpERY
FIREBASE_AUTH_DOMAIN=studentfeedbacksystem-185d5.firebaseapp.com
FIREBASE_PROJECT_ID=studentfeedbacksystem-185d5
FIREBASE_STORAGE_BUCKET=studentfeedbacksystem-185d5.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=461412386533
FIREBASE_APP_ID=1:461412386533:web:9dc4e9d746a1179edc360c
FIREBASE_DATABASE_URL=https://studentfeedbacksystem-185d5-default-rtdb.firebaseio.com/
